body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  overflow: hidden; /* Yatay kaydırma çubuğunu gizler */
}

.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.background-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  text-align: center;
  padding: 20px;
  position: relative;
  height: 100vh; /* Ekranın tamamını kaplayacak */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1; /* İçerikleri videonun üstüne getirir */
}

.header {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 20px;
}

.description {
  font-size: 1.2em;
  margin-bottom: 40px;
}

.scroll-mouse {
  width: 24px;
  height: 42px;
  border: 2px solid white;
  border-radius: 12px;
  cursor: pointer;
  position: relative;
}

.scroll-mouse::before {
  content: "Scroll";
  width: 4px;
  margin-right: 10px;
  /* height: 5px; */
  background: white;
  border-radius: 4px;
  position: absolute;
  bottom: 40px;
  left: 40px;
  transform: translateX(-50%);
  animation: scroll 2s infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
    top: 8px;
  }
  50% {
    opacity: 1;
    top: 16px;
  }
  100% {
    opacity: 0;
    top: 24px;
  }
}

.login-section {
  height: 100vh; /* Ekranın tamamını kaplayacak */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
}
